.env
.env.*
*.env
core/.env
core/.env.*
*.zip
*.tar
*.gz
*.sql
/vendor/
/core/vendor/
/node_modules/
/core/node_modules/
/core/storage/logs/*
/core/storage/framework/cache/*
/core/storage/framework/sessions/*
/core/storage/framework/views/*
!/core/storage/framework/.gitignore
!/core/storage/logs/.gitignore
/assets/uploads/*
/assets/landlord/uploads/*
/assets/tenant/uploads/*
.idea/
.vscode/
.DS_Store
__MACOSX/
*.log
