/assets/uploads/*
/assets/landlord/uploads/*
/assets/tenant/uploads/*
/.idea
/robots.txt
/web.config
/.vs_code
/core/.env
/core/vendor
/core/storage/*
/core/node_module
/.DS_Store
core/node_modules
core/public/build
core/public/hot
core/public/storage
core/storage/
core/.env
core/.env.backup
core/.phpunit.result.cache
core/Homestead.json
core/Homestead.yaml
core/auth.json
core/npm-debug.log
core/yarn-error.log
core/bootstrap/cache
/.vscode
assets/.DS_Store
.DS_Store/*
/core/Modules/.DS_Store/*
